html, body {
  margin:0;
  font-family: new;

}

cavas{
  width: 800px;
  height: 800px;
  border: 2px solid black;
  margin: 0 auto;
}

p{
  margin: 0 auto;
  font-family: new;
  padding: 12px;
  line-height:110%;
}
h1{
  padding: 12px;
}

ul{
  list-style-type: none;
  float: right;
}
li{
  display: inline-block;
  padding: 12px;
}
iframe{
  margin: 0 auto;
  padding: 12px;
}
